:root
{
    --dark-color: #012A36;
    --medium-dark-color: #004257;
    --back-color: #E8E8E8;
    --hover-color: #003f52;
    --zafiro-color: #01adff;
    --ruby-color: #ba0034;
    --duck-color: rgb(226, 223, 0);
    --distor-color: rgb(75 110 10);
    --sampler-color: #3a3a3a; 
    --spatializer-color: ##2206c5;
    --swiper-theme-color: #ffffff !important;
    --swiper-pagination-bullet-inactive-color: #ffffff !important;
}

.plugins{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 75px;
    flex-direction: column;
}
.title{
    font-size:40px;
    margin-bottom: 40px;
}

.swiper{
    width: 80vw;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide{
    background-size: cover;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:60px;
    border-radius: 20px;
}
.swiper-slide img{
    width:400px;
    margin-left: 10vw;
}
.swiper-slide h3{
    color: var(--back-color);
    font-size: 40px;
}
.swiper-slide h4{
    font-size:15px;
    color: var(--back-color);
    width: 30vw;
    margin-top: 20px;
}
.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0 50px;
}
.see{
    color:white;
    font-size:20px;
    padding: 10px;
    border-radius:20px;
    width: 20vh;
    height: 50px;
    text-align: center;
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.techIcons{
    display: flex;
    justify-content: flex-start;
}
.techIcons img{
    width: 30px;
    margin: 10px 10px 0 0;
}
.juceImg{
    height: 30px;
}
.zaf{
    background-color:var(--zafiro-color);
}
.ruby{
    background-color:var(--ruby-color);
}
.duck{
    background-color:var(--duck-color);
    color: black !important;
}
.duckSee{
    background-color:var(--dark-color);
}
.distor{
    background-color:var(--distor-color);
}
.sampler{
    background-color:var(--sampler-color);
}
.see:hover{
    cursor: pointer;
}
.arrowP{
    width:20px !important;
    height:20px;
    filter: invert(100%);
    margin-left: 10px !important;
}
.ia{
    background-color: black;
}
.iaSee{
    background-color: white;
}
.iaSee p{
    color:black;
}
.iaSee img{
    filter: invert(0%);
}
.kids{
    background-color:#aecd44;
}
.kidsBack h3, .kidsBack h4{
    color: black;
}
.kidsBack a{
    background-color:black;
}
.matrixBack p{
    color:black;
}
.matrixBack img{
    filter: invert(0%);
}
.matrixBack a{
    background-color:white;
}
.earcandyBack p{
    color: black;
}
.earcandyBack a{
    background-color:white;
}
.earcandyBack img{
    filter: invert(0%);
}
.potImg{
    width: 127px !important;
    filter: brightness(5.5);
}
.kidsJS{
    width: 40px !important;
    height: 43px !important;
}