:root
{
    --dark-color: #012A36;
    --medium-dark-color: #004257;
    --back-color: #E8E8E8;
    --hover-color: #003f52;
    --zafiro-color: #01adff;
    --ruby-color: #ba0034;
}

.plugins{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 75px;
    flex-direction: column;
}
.title{
    font-size:40px;
    margin-bottom: 40px;
}

.swiper{
    width: 80vw;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide{
    background-size: cover;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:60px;
}
.swiper-slide img{
    width:400px;
    margin-left: 10vw;
}
.swiper-slide h3{
    color: var(--back-color);
    font-size: 40px;
}
.swiper-slide h4{
    font-size:15px;
    color: var(--back-color);
    width: 30vw;
}
.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0 50px;
}
.see{
    color:white;
    font-size:20px;
    padding: 10px;
    border-radius:20px;
    width: 10vh;
    height: 50px;
    text-align: center;
    margin: 20px 0;
    display: flex;
    align-items: center;
}
.zaf{
    background-color:var(--zafiro-color);
}
.ruby{
    background-color:var(--ruby-color);
}
.see:hover{
    cursor: pointer;
}
.arrowP{
    width:20px !important;
    height:20px;
    filter: invert(100%);
    margin-left: 10px !important;
}