/****************************************** GOOGLE FONTS ************************************/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/******************************************** VARIABLES ************************************/
:root
{
    --header-height: 3rem;
    --dark-color: #012A36;
    --medium-dark-color: #004257;
    --back-color: #E8E8E8;
    --hover-color: #003f52;

    font-family: 'Poppins', sans-serif;

    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    --font-medium: 500;
    --font-semi-bold: 600;

    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/******************************************** GENERAL HTML ************************************/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    /* margin: 0 0 var(--header-height) 0; */
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--back-color);
    color: var(--dark-color);
}
h1,h2,h3,h4, p{
    color: var(--dark-color);
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
    height: auto;
}

/******************************************** GENERAL ME ************************************/
header {
    width: 100%;
    position: fixed;
    background-color: var(--dark-color);
    z-index: 10;
}
.myHeader{
    display: flex;
    justify-content: space-between;
    margin: 15px 15%;
    align-items: center;
    text-align: center;
}
.mainName{
    color:var(--back-color);
    font-weight: var(--font-semi-bold);
    font-size: 20px;
}
.header-links{
    display: flex;
}
.header-links li{
    margin: 0 20px;
    font-weight: var(--font-semi-bold);
}
.header-links img{
    width: 20px;
    height: 20px;
}
.header-peque, .header-links-peque, #close{
    display: none;
}

@media screen and (max-width: 815px)
{
    header{
        background-color:var(--dark-color);
        height: 0;
    }
    .mainName{
        color: var(--back-color);
    }
    .myHeader{
        width: 100%;
        margin: auto;
        padding: 3vh 10%;
        position: fixed;
        bottom: 0;
        background-color:var(--dark-color);
    }
    .header-links{
        display: none;
    }
    .header-links-peque{
        display: none;
        height: 20vh;
        position: fixed;
        background-color: var(--dark-color);
        width: 100%;
        left: 0;
        justify-content:center;
        align-items: center;
        border-radius: 40px;
        margin-bottom: 40px;
    }
    .header-links-peque li{
        margin: 0 20px;
        font-weight: var(--font-semi-bold);
    }
    .header-links-peque img{
        width: 20px;
        height: 20px;
    }
    .header-peque{
        display: block;
        width: 20px;
        height: 20px;
    }
    .header-peque:hover, .header-links-peque img{
        cursor: pointer;
        filter: opacity(70%);
    }
    #close{
        display: block;
        width: 30px;
        height: 30px;
        position: absolute;
        top: 0;
        right: 0;
        margin: 20px;
    }
}
/************************************************ MAIN *****************************************/
.main{
    width: 100%;
    height: 100vh;
    background-color:var(--back-color);
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding-top: 75px;
    z-index: 10;
}
.social-icons{
    margin: 0px 40px;
    width: 30px;
    z-index: 10;
    position: relative;
}
.social-icons a img{
    margin: 15px 0px
}
.me{
    width: 300px;
}
.main-titles{
    color: var(--dark-color);
    z-index: 3;
}
.main-titles h1{
    font-size:50px;
    color: var(--dark-color);
}
.main-titles h2{
    font-size:20px;
    color: var(--dark-color);
}
.main-titles h3{
    margin: 10px 0;
    font-size:15px;
    font-weight: var(--font-medium);
    color: var(--dark-color);
}
.home-img{
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 15px;
}
.img-box{
    max-width:450px;
    display: block;
    margin: auto;
    border-radius: 510%;
    padding: 15px;
}
.home-img .img-box img{
    width:100%;
    border-radius: 50%;
    border: 10px solid transparent;
}
.inner-shadow{
    box-shadow: inset 3px 3px 3px #d0d0d0, inset -3px 3px 3px #f8f8f8;
}
.outer-shadow{
    box-shadow: 3px 3px 3px #d0d0d0, -3px 3px 3px #f8f8f8;
}
.effect-wrap{
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 1;
}
.effect-wrap .effect{
    position: absolute;
    z-index: -1;
}
.effect-1{
    width:30px;
    height: 30px;
    border: 4px solid var(--dark-color);
    right: 10%;
    bottom: 15%;
    animation: spin 20s linear infinite;
}
.effect-2{
    left: 3%;
    bottom: 20%;
    width: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    animation: topBounce 5s ease-in-out infinite;
}
.effect-2 div{
    height: 3px;
    width: 3px;
    background-color: var(--dark-color);
    margin: 0 3px 8px;
}
.effect-3{
    height:180px;
    width: 180px;
    border: 25px solid var(--dark-color);
    border-radius:50%;
    left: 50%;
    top: -70px;
    animation: leftBounce 7s ease-in-out infinite;
}
.effect-4{
    border-top: 30px solid transparent;
    border-left: 30px solid var(--dark-color);
    left: 15%;
    top: 15%;
    animation: spin 10s linear infinite;
}
.effect-4:before{
    content: '';
    border-top: 30px solid transparent;
    border-left: 30px solid var(--dark-color);
    position: absolute; 
    opacity: 0.5;
    left: -35px;
    top: -25px;
}
.effect-5{
    height: 50px;
    width: 50px;
    right: 10%;
    top: 20%;
    display: flex;
    justify-content: space-between;
    border-radius: 50%;
    overflow: hidden;
    animation: spin 25s linear infinite;
}
.effect-5 div{
    width: 1px;
    background-color: var(--dark-color);
    height: 100%;
}
@keyframes spin {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes topBounce {
    0%,100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(25px);
    }
}
@keyframes leftBounce {
    0%,100%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(25px);
    }
}
@media screen and (max-width: 815px)
{
    .main{
        display: flex;
        flex-direction: column-reverse;
        padding: 0;
    }
    .social-icons{
        margin: auto;
        display: flex;
        justify-content: center;
    }
    .social-icons a{
        width: 40px;
        margin: 0 15px;
    }
    .home-img{
        max-width: 90%;
        margin: auto;
    }
    .main-titles{
        text-align: center;
        padding-top: 20px;
    }
    .main-titles h3{
        margin: 10px 10px;
    }
    .effect-2{
        left: 10%;
        bottom: 15%;
        opacity: 0.5;
    }
    .effect-3{
        left: 50%;
        top: -140px;
    }
    .effect-4{
        left: 10%;
        top: 18%;
    }
    .effect-5{
        right: 7%;
        top: 35%;
    }
}
@media screen and (max-width: 375px)
{
    .effect-1{
        right: 10%;
        bottom: 5%;
    }
    .effect-2{
        left: 5%;
        bottom: 5%;
    }
    .effect-3{
        left: 50%;
        top: -140px;
    }
    .effect-4{
        left: 6%;
        top: 17%;
    }
    .effect-5{
        right: 4%;
        top: 35%;
        filter: opacity(0.5);
    }
}
/************************************************ TECH *****************************************/
.tech{
    background-color: var(--back-color);
    width: 100%;
    height: 100vh;
}
.about{
    width: 100%;
    height: 90vh;
    text-align: center;
    display: block;
}
.about h2{
    padding: 20px 0;
    font-size: 40px;
}
.contentAbout{
    display: flex;
    justify-content:center;
    align-items:center;
}
.info{
    justify-content: center;
    align-items:center;
}
.info p{
    color: var(--dark-color);
    margin: 50px 50px;
    font-size:15px;
    font-weight: var(--font-medium);
    font-size:20px;
}
.info h3{
    background-color:var(--dark-color);
    color: var(--back-color);
    width: 100px;
    height: 50px;
    border-radius: 15%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
/************************************************ FOOTER *****************************************/
.footer{
    width: 100%;
    height: 30vh;
    display: flex;
    background-color: var(--medium-dark-color);
    color: var(--dark-color);
    text-align: center;
    flex-direction: column;
    justify-content: center;
}
.footer-main-content{
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
}
.footer-title, .footer-links, .footer-icons{
    margin: 5vh 7vw;
}
.footer-title h2, p{
    color: var(--back-color);
    margin: 10px 0;
}
.footer-links li{
    margin: 20px 0;
}
.footer-links li a{
    color: var(--back-color);
}
.footer-icons{
    display: block;
}
.footer-icons a{
    margin: 0 5px;
}
.footer-icons a img{
    width: 40px;
}
.footer-rights{
    margin-bottom: 3%;
}

@media screen and (max-width: 815px)
{
    .footer{
        height: 50vh;
        position: relative;
        bottom: 8.2vh;
    }
    .footer-main-content{
        display: block;
    }
    .footer-icons a{
        margin: 0 10px;
    }
    .footer-rights {
        margin-bottom: 10%;
    }
}

@media screen and (max-width: 375px)
{
    .footer{
        height: 65vh;
        bottom: 9vh;
    }
}

.slider{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to left, #ba7453, #d1a984);
}